body {
	background-image: url("http://www.brickrow.com/images/upload/carousel_4_1.jpg");
}
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;

}

#form-search{
	width: 450px;
	line-height: 12px;
	padding: 10px 10px;
}

#btn{
	width: 300px;
	line-height: 20px;
	padding: 20px 10px;
}

p 
{
   text-align: center;
   font-family: verdana;
    font-size: 20px;
}

#bookCover {
 width: 60%;
  }
